header {
  background-image: url('../img/background-figma.png');
  background-size: cover; 
  width: 100%;
}

.header-logo {
  width: 186px;
  height: 58px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (min-width: 600px) {
  .header-logo, .navbar, .social {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 360px) {
  .navbar, .social {
    display: none
  }
}